<nav>
    <ul>
        <li><a href="/api/products">Home</a></li>
        <li>Products</li>
        <li><a href="/api/add-product">Add New Product</a></li>
        <li>Login</li>
        <li><a href="/api/register">Register New Account</a></li>
        <li>Logout</li>
    </ul>
</nav>